@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --font-primary: 'Roboto', sans-serif;

    --border-radius: .25rem;
    --border:  #00000020;

    --primary-color: #26b9be;
    --primary-color-hv: #24a2a7;
    --primary-color-fc: #239a9e;
    --primary-color-shadow: #26b9be3a;
    --primary-color-border: #11b0b6;

    --bg-white: white;
    --bg-light-gray: #e6e6e6;

    --bg-hover: #00000017;
    --bg-gray: #636363;

}

* {
    padding: 0;
    margin: 0;

}

body {
    display: grid;
    grid-template-columns: 0% auto;
    grid-template-rows: 75px 1fr auto;
    grid-template-areas:
        "header header"
        "menu main"
        "menu footer";
    width: 100%;
    height: 100vh;
    transition: grid-template-columns .1s ease-in-out;
    overflow-x: hidden;
    font-family: var(--font-primary);
}

header {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    padding: 10px 20px;
    background-color: var(--bg-white);
    border: 1px solid var(--border);
    z-index: 10;
}

menu {
    grid-area: menu;
    background-color: var(--bg-white);
    min-width: 276px;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-content: space-between;
    top: 74px;
    left: 0px;
    animation: slid-menu .3s ease-in-out forwards;
    border: 1px solid var(--border);
    z-index: 10;
}

main {
    grid-area: main;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 20px;
    background-color: var(--bg-light-gray);
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-white);
    z-index: 10;
    width: 100%;
    height: 50px;
    border: 1px solid var(--border);
    color: #939393c2;
    font-weight: 500;
    font-size: .9em;
}

.body-expanded {
    grid-template-columns: 275px auto;
}

@media (max-width: 950px) {
    body {
        grid-template-columns: 0% auto;
        grid-template-rows: 75px 1fr auto;
        grid-template-areas:
            "header header"
            "main main"
            "menu menu";
    }
    #menu-toggle{
        display: none;
    }
    menu {
        grid-area: menu;
        min-width: 100%;
        position: relative;
        top: auto;
        left: 0;
        height: auto;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }

    main {
        padding: 10px;
    }

    footer {
        display: none;
        height: auto;
        padding: 10px;
    }
}